Test Suite 'Suite' started at {{startDate}}
Test Suite 'Suite' finished at {{finishDate}}.{{#tests}}
Test Case '-[Test {{name}}]' started.
Test Case '-[Test {{name}}]' passed ({{threeDecimalPoints(duration)}} seconds).{{/tests}}
Executed {{tests.count}} tests, with 0 failures (0 unexpected) in {{threeDecimalPoints(duration)}} ({{threeDecimalPoints(duration)}}) seconds